
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura pública na coleção 'revalidafacio'
    match /revalidafacio/{stationId} {
      allow read: if true;
      // Permite escrita (criação, atualização, exclusão) apenas para usuários autenticados
      // Em um cenário de produção, você pode querer restringir isso a administradores.
      allow write: if request.auth != null;
    }

    // Regra mais genérica para outras coleções (se houver), mantendo-as privadas por padrão.
    // Certifique-se de adicionar regras específicas para outras coleções que seu app possa usar.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
